@font-face {
    font-family: 'Impact', sans-serif;
    src: url(../fonts/impact.woff2);
}


html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

.big-container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.container{
    max-width: 920px;
    padding: 0 10px;
    margin: 0 auto;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    color: #040404;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
}

.header{
    padding-top: 25px;
    position: absolute;
    left: 0; 
    right: 0;
    background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
    z-index: 10000;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.menu-list{
    display: flex;
    gap: 0 40px;
    padding-top: 25px;
}

.menu-left{
    padding-left: 30px;
}

.menu-right{
    padding-right: 30px;
}

.menu-link{
    color: #363636;
    font-size: 16px;
    font-weight: 600;
}

.promo{
    background-image: url(../images/promo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.promo__inner{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

.title{
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 76px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    margin-bottom: 10px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
}

.subtitle{
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 48px;
    align-self: center;
    color: #d06868;
    margin-bottom: 10px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #040404;
}

.subtitle span{
    font-size: 34px;
    display: block;
    color: #040404;
    padding: 10px 0;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.promo__text{
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}

.promo__arrow{
    margin-top: auto;
    margin-bottom: 25px;
    align-self: center;
}

.info{
    margin-bottom: 100px;
}

.info__part{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.info__part--third{
    padding-top: 66px;
}

.info__part--first{
    display: block;
}

.info__title{
   text-transform: uppercase;
   margin-bottom: 30px;
   font-weight: 300;
   font-size: 32px;
}

.info__part-textbox{
   display: flex;
   justify-content: space-between;
   gap: 0 20px;
}

.info__text{
   flex-basis: 440px;
   margin-bottom: 30px;
}

.info__part-img{
   object-fit: cover;
}

.info__content{
    flex-basis: 415px;
}

.info__part--second .info__text{
    max-width: 352px;
}

.info__part--third .info__text{
    max-width: 377px;
}

.info__table{
    flex-basis: 450px;
    border-bottom: 1px solid #040404;
    position: relative;
    top: 20px;
}

.info__table::before{
    content: '';
    border-top: 1px solid #040404;
    position: absolute;
    width: 100%;
    top: -20px;
}

.info__table td{
    padding-bottom: 15px;
}

.track{
    background-image: url(../images/trackbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.track__inner{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.track__title{
    padding-top: 50px;
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 32px;
}

.track__text{
    max-width: 435px;
}

.track__img{
    border-radius: 14%;
    margin: auto auto 90px auto;
}

.blog{
    margin-bottom: 100px;
}

.blog__title{
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.blog__item-img{
    margin-bottom: 20px;
}

.blog__item-title{
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    min-height: 46px;
}

.blog__item-text{
    margin-bottom: 10px;
}

.blog__item-link{
    font-size: 12px;
    color: #363636;
}

.blog__slider{
    position: relative;
    padding-top: 50px;
    margin-bottom: 100px;
}

.blog__button{
    position: absolute;
    top: 0;
    cursor: pointer;
    left: 50%;
}

.swiper-button-left{
    transform: translateX(-92px);
}

.swiper-button-right{
    transform: translateX(8px);
}

.blog__quote{
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}

.blog__quote-box{
    flex-basis: 434px;
}

.blockquote{
    margin-bottom: 30px;
}

.blog__quote-img{
    border-radius: 12%;  
}

.blockquote__name{
    font-weight: 700;
    margin-bottom: 10px;
}

.blockquote__name span{
    display: block;
    font-size: 12px;
    color: #114b4b;
    margin-bottom: 3px;
}

.blockquote__text{
    font-style: italic;
}

.footer{
    padding: 100px 0 80px;
    background-color: #363636;
    color: #FFFFFF; 
}

.footer__title{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 50px;
}

.footer__top{
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}

.footer__info-item{
    margin-bottom: 40px;
}

.footer__info-item dt{
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__info-item dd{
    margin-bottom: 10px;
}

.social-list{
    display: flex;
    gap: 0 20px;
    align-items: center;
}


.footer__address{
    flex-basis: 462px;
}

#map{
    height: 250px;
}

.footer__address-title{
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__address-text{
    font-size: 16px;
    margin-bottom: 20px;
}

.footer__bottom{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}














